# .gitignore

# ------------------------------------------------------------------------------
# System & IDE
# ------------------------------------------------------------------------------

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# ------------------------------------------------------------------------------
# Security (Files that should never be committed for security reasons)
# ------------------------------------------------------------------------------

# Private resources
*.dev**

# Ignore all private keys and certificates
*.pem
*.key

# If RCON passwords or similar are included, consider excluding server.properties
# server.properties

# ------------------------------------------------------------------------------
# Binary Files (Compiled files & Libraries)
# ------------------------------------------------------------------------------

# Java binary files
*.jar

# Paper remapped jar directory
.paper-remapped/

# ------------------------------------------------------------------------------
# Server Instances Data (Runtime Data)
# ------------------------------------------------------------------------------

# Default runtime data files
servers/**/ops.json
servers/**/banned*.json
servers/**/whitelist.json
servers/**/usercache.json
servers/**/version_history.json

servers/**/help.yml
servers/**/wepif.yml
servers/**/permissions.yml

servers/**/.console_history

# World and player data
servers/**/**/advancements/*.json
servers/**/**/stats/*.json

servers/**/*.dat**
servers/**/*.lock
servers/**/*.mcmeta
servers/**/*.mca
servers/**/*.mcm

# Symbolic link files
servers/**/cache
servers/**/versions
servers/**/libraries

# Database files if exists
servers/**/*.sqlite
servers/**/*.db

# Log files
servers/**/*.log**

# ------------------------------------------------------------------------------
# Specific Plugin Files
# ------------------------------------------------------------------------------

# Velocity language files (can be large and are not usually modified)
servers/proxy/lang/*.properties

# LiteBans cache files
servers/proxy/plugins/litebans/.version
servers/proxy/plugins/litebans/server.json

# GeyserMC locale files (can be large and are not usually modified)
servers/proxy/plugins/Geyser*/locales/*.json

# LuckPerms locale files and symlink files
servers/**/plugins/[Ll]uck[Pp]erms/translations
servers/**/plugins/[Ll]uck[Pp]erms/libs

# CMI plugin log files
servers/**/plugins/CMI/**Log/*.yml

# CMILib plugin save and translation files
servers/**/plugins/CMILib/Saves/*.yml
servers/**/plugins/CMILib/Translations/Items/*.yml

# Chunky plugin task files
servers/**/plugins/Chunky/tasks/

# CoreProtect license file
servers/**/plugins/Logger/.license

# FastAsyncWorldEdit data files
servers/**/plugins/FastAsyncWorldEdit/schematics/
servers/**/plugins/FastAsyncWorldEdit/sessions/

# TAB plugin playerdata file
servers/**/plugins/TAB/playerdata.yml
servers/**/plugins/TAB/skincache.yml

# Spark plugin data
servers/**/plugins/spark/

# PlotSquared template files
servers/**/plugins/PlotSquared/templates/
servers/**/plugins/PlotSquared/backups/

# ProtocolLib update file
servers/**/plugins/ProtocolLib/lastupdate

# ------------------------------------------------------------------------------
# Exceptions (Files that should be tracked exceptionally)
# ------------------------------------------------------------------------------
!servers/**/server.properties
