# Ignore Changing Files
# If you change these files, don't forget to commit them!
server.properties

# Ignore Files
.DS_Store

.termux/shell

lib/
libs/
spark/
cache/
versions/
libraries/
.paper-remapped/

DiscordSRV/

history/
schematics/
clipboard/
sessions/

.license
.version

server.yml
wepif.yml
permissions.yml
worldNames.yml

banned-ips.json
banned-players.json
whitelist.json
ops.json

**log**
**old**
**key**
**cache**
**history**

datapacks/
advancements/
stats/

*.lock
*.dat
*.log
*.mca
*.mcm
*.pem
*.jar
*.zip
*.gz
*.db
